# Data Shaping

### Problem Statement

West Nile virus is most commonly spread to humans through infected mosquitos. Around 20% of people who become infected with the virus develop symptoms ranging from a persistent fever, to serious neurological illnesses that can result in death. In 2002, the first human cases of West Nile virus were reported in Chicago. By 2004 the City of Chicago and the Chicago Department of Public Health (CDPH) had established a comprehensive surveillance and control program that is still in effect today.

Every week from late spring through the fall, mosquitos in traps across the city are tested for the virus. The results of these tests influence when and where the city will spray airborne pesticides to control adult mosquito populations. Representating CDPH, we will develop a model to predict the outbreaks of West Nile virus in mosquitos so that the City of Chicago can more efficiently and effectively allocate resources towards preventing the transmission of this potentially deadly virus.

### Executive Summary

This notebook prepares and shapes the training and test datasets for modelling. The original training data requires reshaping because of the manner in which the observations were recorded. For a given trap on a given day, we could expect to see more than one row of data for two possible reasons:
1. A new row of observation was recorded in the training data for each species of mosquito caught in the same trap. This also means that for a given trap with no or none of a given specie of mosquito caught, there is no corresponding row of data recording a 0. In the test set, a prediction was required for all 8 species of mosquitoes per trap.
2. A new row of observation was recorded in the training data for every 50 mosquitoes caught or part thereof. This means that for a given trap and a given specie of mosquito and if WNV is present, there can be multiple rows of observations recorded.

The first part of this notebook reshapes the training dataset to match the test dataset. In doing so, new features were engineered by aggregating information about the number of mosquitoes caught, whether WNV is present, and in what percentage of the mosquito population is the spread of WNV. The second part of this notebook prepares the training and test datasets for modelling by including predictors determined as important in our EDA before exporting. Three main groups of predictors were added into the datasets for modelling:
1. Parsed "Date" column as datetime objects, and extract year, month, day, and unix time information into new columns.
2. Merge the corresponding weather information available to our training and test datasets.
3. Dummy out all the species of mosquitoes. There are 8 species of mosquitoes observed.

### Content

- [Reshaping before EDA](#Reshaping-before-EDA)
- [Preparation for Modelling](#Preparation-for-Modelling)

### Reshaping before EDA
- There are rows that are missing beause 0 mosquitoes were recorded. We want to add these rows in with a 0 for number of mosquitoes.
- There are also rows that were split into 2 rows because of >50 mosquitoes. We want to combine these.

This is all done before EDA so that it can give a more accurate picture of the data.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timezone
import time

In [2]:
# Load in data
train = pd.read_csv("../data/train.csv")

In [3]:
# Look at test data to see what the traps are
test = pd.read_csv("../data/test.csv")

In [4]:
# look at train data to see what the traps are
test_traps = test["Trap"].unique()
print(test_traps)
print(len(test_traps))

['T002' 'T007' 'T015' 'T045' 'T046' 'T048' 'T049' 'T050' 'T054' 'T086'
 'T091' 'T094' 'T096' 'T129' 'T143' 'T148' 'T153' 'T159' 'T009' 'T011'
 'T016' 'T019' 'T025' 'T028' 'T031' 'T033' 'T089' 'T090' 'T092' 'T135'
 'T141' 'T142' 'T145' 'T146' 'T147' 'T149' 'T150' 'T151' 'T152' 'T154'
 'T158' 'T162' 'T218' 'T220' 'T001' 'T003' 'T006' 'T008' 'T012' 'T034'
 'T037' 'T040' 'T043' 'T047' 'T051' 'T085' 'T088' 'T161' 'T219' 'T013'
 'T014' 'T018' 'T030' 'T084' 'T144' 'T160' 'T005' 'T017' 'T044' 'T095'
 'T004' 'T035' 'T036' 'T039' 'T060' 'T061' 'T062' 'T065' 'T066' 'T067'
 'T069' 'T070' 'T071' 'T073' 'T074' 'T075' 'T076' 'T077' 'T079' 'T080'
 'T081' 'T082' 'T083' 'T114' 'T155' 'T063' 'T115' 'T138' 'T200' 'T206'
 'T209' 'T212' 'T215' 'T107' 'T128' 'T072' 'T078' 'T097' 'T099' 'T100'
 'T102' 'T103' 'T027' 'T156' 'T157' 'T221' 'T900' 'T903' 'T090A' 'T090B'
 'T090C' 'T200A' 'T128A' 'T200B' 'T218A' 'T218C' 'T218B' 'T222' 'T223'
 'T225' 'T227' 'T224' 'T226' 'T229' 'T230' 'T228' 'T231' 'T232' 'T002A'
 'T002B' 'T233' 'T234' 'T235' 'T236' 'T237' 'T238' 'T065A' 'T094B' 'T054C']
149

We want to have a dataframe that has all combinations of species, trap, and dates. The current train data is missing rows with 0 mosquitoes.

The test data has all combinations of species/trap, so we just use this as a template since the GPS locations are already provided which is convenient.

In [5]:
# We want all combinations of trap and species. However we don't want all combinations of the date
# Therefore, pick one date and only get the matching rows. We just picked the first date, it doesn't matter which one.
template_df = test.groupby("Date").get_group("2008-06-11")

# drop the ID and date columns as we don't want them in the template
template_df = template_df.drop("Id", axis=1)
template_df = template_df.drop("Date", axis=1)

Note that the template data has repeated trap names:

In [6]:
template_df["Trap"].value_counts()

T035     16
T009     16
T094B     8
T047      8
T006      8
         ..
T088      8
T018      8
T158      8
T159      8
T157      8
Name: Trap, Length: 149, dtype: int64

Change the trap names to T035a and T009a

In [7]:
# However, the template data has 2 traps that are wrong/repeated, so we will change the names:
# They are T035 and T009
template_df.loc[(template_df["Trap"] == "T035") & (template_df["Latitude"] > 41.8), "Trap"] = 'T035a'
template_df.loc[(template_df["Trap"] == "T009") & (template_df["Latitude"] < 41.99), "Trap"] = 'T009a'
# final number of unique traps = 151

In [8]:
# using template, create a dataframe with all combinations of date, species, and trap name:
ls = []
for date in train["Date"].unique():
    df = template_df.copy()
    df["Date"] = date
    ls.append(df)
df_new_train = pd.concat(ls, axis=0).reset_index(drop=True)
print(df_new_train.shape)
df_new_train.tail(3)

(114760, 10)

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Date
114757,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TARSALIS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2013-09-26
114758,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2013-09-26
114759,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.63359,8,2013-09-26

For this new dataframe with every permutation of trap, date, and species, fill in the data we already have from the training set.

In [9]:
# use this in a .apply()
def eval_mosquito_wnv(row):
    trap = row["Trap"]
    species = row["Species"]
    date = row["Date"]
    
    # find matching in the training data
    matching_rows = train[(train["Date"] == date) & (train["Species"] == species) & (train["Trap"] == trap)]
    
    # the defaults in case there is nothing found
    num_mosq = 0
    wnv_percent = 0
    has_wnv = 0
    
    if matching_rows.shape[0] != 0:
    
        # find the number of mosquitoes
        num_mosq = matching_rows["NumMosquitos"].sum()

        if num_mosq != 0:

            # check if any have WNV
            has_wnv = 0 if matching_rows["WnvPresent"].sum() == 0 else 1
        
            # WNV population percentage
            wnv_percent = (matching_rows["WnvPresent"] * matching_rows["NumMosquitos"]).sum()
            wnv_percent /= num_mosq

    row["NumMosquitos"] = num_mosq
    row["WnvPresent"] = has_wnv
    row["wnv_percent"] = wnv_percent
    
    return row

In [10]:
%%time
df_new_train = df_new_train.apply(eval_mosquito_wnv, axis=1)

Wall time: 9min 36s

Finally, save this new dataframe to a new file

In [11]:
# export training
df_new_train.to_csv("../data/train_modified_rows.csv")

Modified training set is exported as CSV file for EDA.

### Preparation for Modelling

#### Import Training Set

In [12]:
df_train = pd.read_csv("../data/train_modified_rows_spray.csv", compression="gzip").drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
df_train.head(3)

,index,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Date,NumMosquitos,WnvPresent,wnv_percent,Year,Month,Day,Unix,after_spray
0,0,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2007-05-29,1,0,0.0,2007,5,29,1.180368e+09,0
1,1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2007-05-29,1,0,0.0,2007,5,29,1.180368e+09,0
2,2,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2007-05-29,0,0,0.0,2007,5,29,1.180368e+09,0

In [13]:
df_train.columns

Index(['index', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'Date', 'NumMosquitos', 'WnvPresent', 'wnv_percent', 'Year', 'Month',
       'Day', 'Unix', 'after_spray'],
      dtype='object')

In [14]:
df_train.shape

(114760, 19)

In [15]:
df_train["Trap"].nunique()

151

In [16]:
# convert to datetime
df_train["Date"] = pd.to_datetime(df_train["Date"])
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114760 entries, 0 to 114759
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   114760 non-null  int64
 1   Address                 114760 non-null  object
 2   Species                 114760 non-null  object
 3   Block                   114760 non-null  int64
 4   Street                  114760 non-null  object
 5   Trap                    114760 non-null  object
 6   AddressNumberAndStreet  114760 non-null  object
 7   Latitude                114760 non-null  float64
 8   Longitude               114760 non-null  float64
 9   AddressAccuracy         114760 non-null  int64
 10  Date                    114760 non-null  datetime64[ns]
 11  NumMosquitos            114760 non-null  int64
 12  WnvPresent              114760 non-null  int64
 13  wnv_percent             114760 non-null  float64
 14  Year                    114760 non-null  int64
 15  Month                   114760 non-null  int64
 16  Day                     114760 non-null  int64
 17  Unix                    114760 non-null  float64
 18  after_spray             114760 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(9), object(5)
memory usage: 16.6+ MB

#### Import Test Set

In [17]:
# import test set
df_test = pd.read_csv("../data/test.csv")
df_test.head(3)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [18]:
df_test.shape

(116293, 11)

In [19]:
df_test["Trap"].nunique()

149

In [20]:
# replace erroneous trap labels
df_test.loc[(df_test["Trap"] == "T009") & (df_test["Latitude"] < 41.99), "Trap"] = 'T009a'
df_test.loc[(df_test["Trap"] == "T035") & (df_test["Latitude"] > 41.8), "Trap"] = 'T035a'
df_test["Trap"].nunique() # there should be 151 unique traps

151

In [21]:
# convert to datetime
df_test["Date"] = pd.to_datetime(df_test["Date"])
# create features for year, month, day
df_test["Year"] = df_test["Date"].dt.year
df_test["Month"] = df_test["Date"].dt.month
df_test["Day"] = df_test["Date"].dt.day
df_test.shape # verify 3 new cols added

(116293, 14)

In [22]:
# create column for unix timestamp
df_test["Unix"] = df_test["Date"].apply(lambda x: time.mktime(x.timetuple()))
df_test.shape # verify col is added

(116293, 15)

In [23]:
# set date as index
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116293 entries, 0 to 116292
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      116293 non-null  int64
 1   Date                    116293 non-null  datetime64[ns]
 2   Address                 116293 non-null  object
 3   Species                 116293 non-null  object
 4   Block                   116293 non-null  int64
 5   Street                  116293 non-null  object
 6   Trap                    116293 non-null  object
 7   AddressNumberAndStreet  116293 non-null  object
 8   Latitude                116293 non-null  float64
 9   Longitude               116293 non-null  float64
 10  AddressAccuracy         116293 non-null  int64
 11  Year                    116293 non-null  int64
 12  Month                   116293 non-null  int64
 13  Day                     116293 non-null  int64
 14  Unix                    116293 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(5)
memory usage: 13.3+ MB

#### Merge Weather Data to Training and Test Sets

In [24]:
# import mean of weather data
df_weather_mean = pd.read_csv("../data/weather_mean.csv").drop("Unnamed: 0", axis=1)
df_weather_mean.head(3)

,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,SnowFall,PrecipTotal,AvgSpeed
0,2007-05-01,83.5,51.0,67.5,51.0,56.5,0.0,0.0,9.40
1,2007-05-02,59.5,42.5,51.5,42.0,47.0,0.0,0.0,13.40
2,2007-05-03,66.5,47.0,57.0,40.0,49.0,0.0,0.0,12.55

In [25]:
df_weather_mean.shape

(1472, 9)

In [26]:
# convert weather date to datetime objs
df_weather_mean["Date"] = pd.to_datetime(df_weather_mean["Date"])
df_weather_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1472 non-null   datetime64[ns]
 1   Tmax         1472 non-null   float64
 2   Tmin         1472 non-null   float64
 3   Tavg         1472 non-null   float64
 4   DewPoint     1472 non-null   float64
 5   WetBulb      1472 non-null   float64
 6   SnowFall     1472 non-null   float64
 7   PrecipTotal  1472 non-null   float64
 8   AvgSpeed     1472 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 103.6 KB

In [27]:
# merge weather data to training data
df_train_weather = df_train.merge(df_weather_mean, how="left", on="Date") # merge weather data to training set
df_train_weather.head(3)

,index,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,Unix,after_spray,Tmax,Tmin,Tavg,DewPoint,WetBulb,SnowFall,PrecipTotal,AvgSpeed
0,0,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,1.180368e+09,0,88.0,62.5,75.5,58.5,65.5,0.0,0.0,6.95
1,1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,1.180368e+09,0,88.0,62.5,75.5,58.5,65.5,0.0,0.0,6.95
2,2,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,1.180368e+09,0,88.0,62.5,75.5,58.5,65.5,0.0,0.0,6.95

In [28]:
df_train_weather.shape

(114760, 27)

In [29]:
# merge weather data to test data
df_test_weather = df_test.merge(df_weather_mean, how="left", on="Date") # merge weather data to training set
df_test_weather.head(3)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,...,Day,Unix,Tmax,Tmin,Tavg,DewPoint,WetBulb,SnowFall,PrecipTotal,AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,11,1.213114e+09,86.0,63.5,75.0,55.5,64.0,0.0,0.0,10.2
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,11,1.213114e+09,86.0,63.5,75.0,55.5,64.0,0.0,0.0,10.2
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,11,1.213114e+09,86.0,63.5,75.0,55.5,64.0,0.0,0.0,10.2

In [30]:
df_test_weather.shape

(116293, 23)

#### Dummy Species for Training and Test Sets

In [31]:
df_train_weather_dumm = pd.get_dummies(df_train_weather, columns=["Species"])
df_train_weather_dumm.shape

(114760, 34)

In [32]:
df_train_weather_dumm.head(1)

,index,Address,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Date,...,PrecipTotal,AvgSpeed,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX
0,0,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2007-05-29,...,0.0,6.95,0,0,1,0,0,0,0,0

In [33]:
df_test_weather_dumm = pd.get_dummies(df_test_weather, columns=["Species"])
df_test_weather_dumm.shape

(116293, 30)

In [34]:
df_test_weather_dumm.head(1)

,Id,Date,Address,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,PrecipTotal,AvgSpeed,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,0.0,10.2,0,0,1,0,0,0,0,0

#### Export Training and Test Sets

In [35]:
df_train_weather_dumm.to_csv("../data/train_modified_rows_combined.csv")

In [36]:
df_test_weather_dumm.to_csv("../data/test_combined.csv")